.fresh {
 border: 5px white solid;   
 margin: 2px;
}
.fresh h2{
    text-align: right;
}
.main{
 border: 10px white solid;  
 width: 60%;
 margin: auto;
 margin-top: 30px;
 
}
.up{   
background-color:#A8F0F0;
 text-align: right;
 margin-top: -3px;
}
.up h1{
text-align: right;
}
.a1{
    border: 4px  solid #C2E9E9;
    background-color:#E8FBFB;
    padding: 5px 0px;
    margin: 10px 0px 0px;
    overflow: hidden;
}
h1, h2{
  color:#009097;
}
h2{
    font-size: 14pt;
}
span{
border-bottom: 2px  #009097 dashed;   
}
a{
color: #009097;    
}
body{
    margin: 0;
    padding: 0;
    background-image: url("images/lala.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
img{
float: right;
}